<h1>Add a New Prehistoric Creature</h1>

<form action="/prehistoric_creatures" method="POST">
    <label for='pcType'>Type</label>
    <input type='text' name='type' id='pcType'>
   
    <label for='pcPhotoURL'>Photo URL</label>
    <input type='text' name='photoURL' id='pcPhotoURL'>

    <input type='submit'>
</form>