<h1>List of Dinosaurs</h1>

<form method="GET" action="/dinosaurs">
    <label for="nameFilter">Filter by Name:</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
  </form>


<ul>
    <% dinosaurs.forEach((dino) => { %>
      <li><%= dino.name + ' is a ' + dino.type %></li>
    <% }) %>
</ul>